IBank/WebClient/Service References/BankService/BankService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internet-bank-service.azurewebsites.net/BankService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/BankEntities" />
  <xs:element name="GetBankAccountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetBankAccountByIdResult" nillable="true" type="q1:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetBankAccountByNumberResult" nillable="true" type="q2:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBankAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllBankAccountsResult" nillable="true" type="q3:ArrayOfBankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="bankAccount" nillable="true" type="q4:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBankAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="bankAccount" nillable="true" type="q5:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="bankAccount" nillable="true" type="q6:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBankAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBankAccountBalanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextBankAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastElementId" type="xs:int" />
        <xs:element minOccurs="0" name="ammount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetNextBankAccountsResult" nillable="true" type="q7:ArrayOfBankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrevBankAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstElementId" type="xs:int" />
        <xs:element minOccurs="0" name="ammount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrevBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetPrevBankAccountsResult" nillable="true" type="q8:ArrayOfBankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextCardAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastElementId" type="xs:int" />
        <xs:element minOccurs="0" name="ammount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextCardAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetNextCardAccountsResult" nillable="true" type="q9:ArrayOfCardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrevCardAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstElementId" type="xs:int" />
        <xs:element minOccurs="0" name="ammount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrevCardAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetPrevCardAccountsResult" nillable="true" type="q10:ArrayOfCardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextOperators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastElementId" type="xs:int" />
        <xs:element minOccurs="0" name="ammount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextOperatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetNextOperatorsResult" nillable="true" type="q11:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrevOperators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstElementId" type="xs:int" />
        <xs:element minOccurs="0" name="ammount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrevOperatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetPrevOperatorsResult" nillable="true" type="q12:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetCardAccountByIdResult" nillable="true" type="q13:CardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccountByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccountByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetCardAccountByNumberResult" nillable="true" type="q14:CardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllCardAccountsResult" nillable="true" type="q15:ArrayOfCardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccountsByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccountsByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetCardAccountsByCustomerIdResult" nillable="true" type="q16:ArrayOfCardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="cardAccount" nillable="true" type="q17:CardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="cardAccount" nillable="true" type="q18:CardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="cardAccount" nillable="true" type="q19:CardAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnoughBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnoughBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEnoughBalanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetCurrencyByIdResult" nillable="true" type="q20:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllCurrencyResult" nillable="true" type="q21:ArrayOfCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="currency" nillable="true" type="q22:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCurrencyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="currency" nillable="true" type="q23:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="currency" nillable="true" type="q24:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCurrencyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllCurrency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllCurrencyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountCurrencyShortString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountCurrencyShortStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBankAccountCurrencyShortStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetEmployeeByIdResult" nillable="true" type="q25:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllEmployeesResult" nillable="true" type="q26:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="employee" nillable="true" type="q27:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="employee" nillable="true" type="q28:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="employee" nillable="true" type="q29:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetEmployeeByLoginResult" nillable="true" type="q30:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdminEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdminEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllAdminEmployeesResult" nillable="true" type="q31:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArbitraryTransactionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArbitraryTransactionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetArbitraryTransactionByIdResult" nillable="true" type="q32:ArbitraryTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArbitraryTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArbitraryTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllArbitraryTransactionsResult" nillable="true" type="q33:ArrayOfArbitraryTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArbitraryTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="arbitraryTransaction" nillable="true" type="q34:ArbitraryTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArbitraryTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArbitraryTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="arbitraryTransaction" nillable="true" type="q35:ArbitraryTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArbitraryTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArbitraryTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="arbitraryTransaction" nillable="true" type="q36:ArbitraryTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArbitraryTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArbitraryTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="arbitraryTransaction" nillable="true" type="q37:ArbitraryTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArbitraryTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateArbitraryTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileTransactionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileTransactionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetMobileTransactionByIdResult" nillable="true" type="q38:MobileTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMobileTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMobileTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllMobileTransactionsResult" nillable="true" type="q39:ArrayOfMobileTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMobileTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="mobileTransaction" nillable="true" type="q40:MobileTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMobileTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMobileTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="mobileTransaction" nillable="true" type="q41:MobileTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMobileTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMobileTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="mobileTransaction" nillable="true" type="q42:MobileTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMobileTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMobileTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="mobileTransaction" nillable="true" type="q43:MobileTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMobileTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMobileTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferTransactionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferTransactionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetTransferTransactionByIdResult" nillable="true" type="q44:TransferTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransferTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransferTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllTransferTransactionsResult" nillable="true" type="q45:ArrayOfTransferTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransferTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="transferTransaction" nillable="true" type="q46:TransferTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransferTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransferTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="transferTransaction" nillable="true" type="q47:TransferTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransferTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTransferTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="transferTransaction" nillable="true" type="q48:TransferTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTransferTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransferTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="transferTransaction" nillable="true" type="q49:TransferTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransferTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTransferTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSISTransactionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSISTransactionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetSSISTransactionByIdResult" nillable="true" type="q50:SSISTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSSISTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSSISTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetAllSSISTransactionsResult" nillable="true" type="q51:ArrayOfSSISTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSSISTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="SSISTransaction" nillable="true" type="q52:SSISTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSSISTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSSISTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="SSISTransaction" nillable="true" type="q53:SSISTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSSISTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSSISTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="SSISTransaction" nillable="true" type="q54:SSISTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSSISTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSSISTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="SSISTransaction" nillable="true" type="q55:SSISTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSSISTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSSISTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArbitraryTransactionsByCardId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArbitraryTransactionsByCardIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetArbitraryTransactionsByCardIdResult" nillable="true" type="q56:ArrayOfArbitraryTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileTransactionsByCardId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileTransactionsByCardIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetMobileTransactionsByCardIdResult" nillable="true" type="q57:ArrayOfMobileTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSISTransactionsByCardId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSISTransactionsByCardIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetSSISTransactionsByCardIdResult" nillable="true" type="q58:ArrayOfSSISTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferTransactionsByCardId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferTransactionsByCardIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BankEntities" minOccurs="0" name="GetTransferTransactionsByCardIdResult" nillable="true" type="q59:ArrayOfTransferTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>